Repository ipt-cryptolabs/aaf-labs-2021, pull requests merged in 2021-12, with the labels that each got.

#35 Zatsarenko_FI-94_Futurska_FI-94 added README.md
  zatsarenko_fi-94_futurska_fi-94/Database.cs
  zatsarenko_fi-94_futurska_fi-94/Node.cs
  zatsarenko_fi-94_futurska_fi-94/P1.csproj
  zatsarenko_fi-94_futurska_fi-94/P1.sln
  zatsarenko_fi-94_futurska_fi-94/Point.cs
  zatsarenko_fi-94_futurska_fi-94/Program.cs
  zatsarenko_fi-94_futurska_fi-94/README.md
  zatsarenko_fi-94_futurska_fi-94/RTree.cs
  zatsarenko_fi-94_futurska_fi-94/Rectangle.cs
Labels: readme_ok, review_search_algorithms

#30 Medved FI-93, Shashenok FI-93
  medved_fi-93_shashenok_fi-93/.gitignore
  medved_fi-93_shashenok_fi-93/README.md
  medved_fi-93_shashenok_fi-93/collection.py
  medved_fi-93_shashenok_fi-93/parser.py
  medved_fi-93_shashenok_fi-93/rd_tree.py
Labels: readme_ok

#8 Ponochevnyi N. (FI-92): Ready CLI with CRUD operations and index optimizations
  ponochevnyi_fi-92/.gitignore
  ponochevnyi_fi-92/README.md
  ponochevnyi_fi-92/cli.py
  ponochevnyi_fi-92/engine/__init__.py
  ponochevnyi_fi-92/engine/database.py
  ponochevnyi_fi-92/engine/index.py
  ponochevnyi_fi-92/engine/table.py
  ponochevnyi_fi-92/requirements.txt
  ponochevnyi_fi-92/tests/__init__.py
  ponochevnyi_fi-92/tests/test_cli.py
  ponochevnyi_fi-92/tests/test_engine/__init__.py
  ponochevnyi_fi-92/tests/test_engine/test_database.py
  ponochevnyi_fi-92/tests/test_engine/test_index.py
  ponochevnyi_fi-92/tests/test_engine/test_table.py
Labels: readme_ok

#38 Zverev FI-93, Kozarovitska FI-93
  zverev_fi-93_kozarovitska_fi-93/README.md
  zverev_fi-93_kozarovitska_fi-93/main.py
  zverev_fi-93_kozarovitska_fi-93/parsing.py
  zverev_fi-93_kozarovitska_fi-93/table.py
  zverev_fi-93_kozarovitska_fi-93/tree.py
Labels: readme_ok

#33 Mudrak FI-92, Namchuk FI-92
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/.idea/.gitignore
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/.idea/inspectionProfiles/profiles_settings.xml
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/.idea/misc.xml
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/CLI.py
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/Database.py
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/Index.py
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/Table.py
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/__pycache__/Table.cpython-38.pyc
  mudrak_fi-92_namchuk_fi-92/OAA_SQL/test.py
  mudrak_fi-92_namchuk_fi-92/README.md
Labels: readme_ok

#7 Baievskyi. K (FI-93), Shifrin D. (FI-93): Added readme with basic info and schedule
  baievskyi_fi-93_shifrin_fi-93/.gitignore
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/AAF_Lab_.csproj
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/AAF_Lab_.sln
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/AVLTree.cs
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/AVLTreeNode.cs
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/BD.cs
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/DATABASE.cs
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/Parcer.cs
  baievskyi_fi-93_shifrin_fi-93/AAF_Lab_/Program.cs
  baievskyi_fi-93_shifrin_fi-93/README.md
Labels: readme_ok

#17 Shmorhun. D (FI-91), Koreshkov M. (FI-91): Added readme with basic info and schedule
  shmorhun_fi-91_koreshkov_fi-91/.gitignore
  shmorhun_fi-91_koreshkov_fi-91/CMakeLists.txt
  shmorhun_fi-91_koreshkov_fi-91/README.md
  shmorhun_fi-91_koreshkov_fi-91/aa-lab-structure.svg
  shmorhun_fi-91_koreshkov_fi-91/src/Collection.cpp
  shmorhun_fi-91_koreshkov_fi-91/src/Collection.h
  shmorhun_fi-91_koreshkov_fi-91/src/DB.h
  shmorhun_fi-91_koreshkov_fi-91/src/Parser.h
  shmorhun_fi-91_koreshkov_fi-91/src/Request.h
  shmorhun_fi-91_koreshkov_fi-91/src/Set.cpp
  shmorhun_fi-91_koreshkov_fi-91/src/Set.h
  shmorhun_fi-91_koreshkov_fi-91/src/UI.h
  shmorhun_fi-91_koreshkov_fi-91/src/main.cpp
Labels: readme_ok, data_structure_ok

#48 Shevchenko (FB-92), Shchur (FB-92): Optional comment
  shevchenko_fb-92_shchur_fb-92_part1/README.md
  shevchenko_fb-92_shchur_fb-92_part1/main.py
Labels: readme_ok

#2 Protsenko_fb-93_Shovak_fb-93
  Shovak_FB-93_Protsenko_FB-93/README.md
  Shovak_FB-93_Protsenko_FB-93/db.cpp
  Shovak_FB-93_Protsenko_FB-93/db.h
  Shovak_FB-93_Protsenko_FB-93/lexer.cpp
  Shovak_FB-93_Protsenko_FB-93/lexer.h
  Shovak_FB-93_Protsenko_FB-93/main.cpp
  Shovak_FB-93_Protsenko_FB-93/parser.cpp
  Shovak_FB-93_Protsenko_FB-93/parser.h
  Shovak_FB-93_Protsenko_FB-93/token.cpp
  Shovak_FB-93_Protsenko_FB-93/token.h
Labels: readme_ok

#43 Melnyk_FB-91_Nosova_FB-91
  nosova_fb-91_melnik_fb-91/KDTree.py
  nosova_fb-91_melnik_fb-91/Parser.py
Labels: readme_ok

#1 Hrydin P. (FI-92), Hohlov Y. (FI-91)
  Pavlo_Hrydin_FI-92_Hohlov_Yaroslav_FI-91/README.md
  Pavlo_Hrydin_FI-92_Hohlov_Yaroslav_FI-91/code.py
  Pavlo_Hrydin_FI-92_Hohlov_Yaroslav_FI-91/func.py
Labels: readme_ok

#24 Plakhtii FI-92 Shevtsova FI-92 Added readme with basic info and schedule. Added some code
  plakhtii_fi-92_shevtsova_fi-92/.gitignore
  plakhtii_fi-92_shevtsova_fi-92/README.md
  plakhtii_fi-92_shevtsova_fi-92/R_Tree_To_compile/CMakeLists.txt
  plakhtii_fi-92_shevtsova_fi-92/R_Tree_To_compile/R_Tree/AAF_lab.cpp
  plakhtii_fi-92_shevtsova_fi-92/R_Tree_To_compile/R_Tree/R_Tree.cpp
  plakhtii_fi-92_shevtsova_fi-92/R_Tree_To_compile/R_Tree/R_Tree.h
  plakhtii_fi-92_shevtsova_fi-92/R_Tree_To_compile/R_Tree/Rect.cpp
  plakhtii_fi-92_shevtsova_fi-92/R_Tree_To_compile/R_Tree/Rect.h
  plakhtii_fi-92_shevtsova_fi-92/R_Tree_To_compile/compiler.cpp
  plakhtii_fi-92_shevtsova_fi-92/database.py
  plakhtii_fi-92_shevtsova_fi-92/main.py
  plakhtii_fi-92_shevtsova_fi-92/parser.py
  plakhtii_fi-92_shevtsova_fi-92/table.py
  plakhtii_fi-92_shevtsova_fi-92/visualisation.jpg
  plakhtii_fi-92_shevtsova_fi-92/visualisation.py
Labels: needs_cleanup, readme_ok

#26 Kyrylenko P. (FI-92) Marinchenko N. (FI-92)
  kyrylenko_fi-92_marinchenko_fi-92/.gitignore
  kyrylenko_fi-92_marinchenko_fi-92/README.md
  kyrylenko_fi-92_marinchenko_fi-92/aaflab.py
Labels: data_structure_ok

#46 Martynova (FI-93), Fedorchuk (FI-93)
  martynova_fi-93_fedorchuk_fi-93/.gitignore
  martynova_fi-93_fedorchuk_fi-93/Components/Node.cs
  martynova_fi-93_fedorchuk_fi-93/Components/Parser.cs
  martynova_fi-93_fedorchuk_fi-93/Components/Trie.cs
  martynova_fi-93_fedorchuk_fi-93/Constants/FilterType.cs
  martynova_fi-93_fedorchuk_fi-93/Constants/OrderType.cs
  martynova_fi-93_fedorchuk_fi-93/Constants/commands.cs
  martynova_fi-93_fedorchuk_fi-93/Program.cs
  martynova_fi-93_fedorchuk_fi-93/README.md
Labels: bad_directory, needs_cleanup, readme_ok

#51 Gumankov (FB-92), Gavrilova (FI-92)
  Gumankov_FB92_Gavrilova_FI92/README.md
  Gumankov_FB92_Gavrilova_FI92/command_parser.py
  Gumankov_FB92_Gavrilova_FI92/database.py
  Gumankov_FB92_Gavrilova_FI92/main.py
Labels: readme_ok

#39 Peleshenko (FI-94), Lischynska (FI-93)
  Peleshenko_fi-94_Lischyska_fi-93/.gitignore
  Peleshenko_fi-94_Lischyska_fi-93/README.md
  Peleshenko_fi-94_Lischyska_fi-93/main.cpp
Labels: readme_ok

#37 Kripaka_fi-94
  kripaka_fi-94_cp11/.gitignore
  kripaka_fi-94_cp11/Architecture.png
  kripaka_fi-94_cp11/README.md
  kripaka_fi-94_cp11/src/DataBase.java
  kripaka_fi-94_cp11/src/Exec.java
  kripaka_fi-94_cp11/src/KDTree.java
  kripaka_fi-94_cp11/src/KDTreeTest.java
  kripaka_fi-94_cp11/src/Parser.java
  kripaka_fi-94_cp11/src/ParserTest.java
  kripaka_fi-94_cp11/src/Point2d.java
  kripaka_fi-94_cp11/src/Switcher.java
Labels: readme_ok

#34 Melnyk (FI-94), Velychko (FI-94)
  Melnyk_FI-94_Velychko_FI-94/Main.java
  Melnyk_FI-94_Velychko_FI-94/MathBoolExpressionParser.java
  Melnyk_FI-94_Velychko_FI-94/README.md
  Melnyk_FI-94_Velychko_FI-94/SqlParser.java
Labels: readme_ok

#21 Shevchenko. Y. (FI-92), Kozlovska S. (FI-92): Added readme with basic info and schedule
  shevchenko_fi-92_kozlovska_fi-92/README.md
  shevchenko_fi-92_kozlovska_fi-92/parser.py
  shevchenko_fi-92_kozlovska_fi-92/storage.py
Labels: readme_ok

#52 Kazankova (FB-92), Shapoval (FB-92)
  FB-92_Shapoval_Kazankova/comands.py
  FB-92_Shapoval_Kazankova/indexes.py
  FB-92_Shapoval_Kazankova/main.py
  FB-92_Shapoval_Kazankova/ourparser.py
  FB-92_Shapoval_Kazankova/parser.pyproj
  FB-92_Shapoval_Kazankova/readme.md
Labels: readme_ok

#27 Tishkov_fb_93_Papucha_fb93_cp9
  tishkov_fb-93_papucha_fb-93_cp9/README.md
  tishkov_fb-93_papucha_fb-93_cp9/controller.py
Labels: needs_readme

#18 A. Chorniy (FB-95)
  Chorniy_fb-95/main.rb
  Chorniy_fb-95/rbtree.rb
  Chorniy_fb-95/readme.md
  Chorniy_fb-95/struct.png
  Chorniy_fb-95/treemodules.rb
Labels: needs_cleanup, needs_readme

#16 Sernova_fb93_Kolesnyk_fb93
  sernova_fb93_kolesnyk_fb93/.gitignore
  sernova_fb93_kolesnyk_fb93/BSTree.py
  sernova_fb93_kolesnyk_fb93/README.md
  sernova_fb93_kolesnyk_fb93/lexer.py
  sernova_fb93_kolesnyk_fb93/main.py
  sernova_fb93_kolesnyk_fb93/parser1.py
  sernova_fb93_kolesnyk_fb93/table_func.py
Labels: bad_directory

#36 Kutsovol. O (FB-93), Ponomarenko O. (FB-93)
  kutsovol_fb-93_ponomarenko_fb-93/try.txt
  kutsovol_fb-93_ponomarenko_fb-93/try2.txt
  kutsovol_fb-93_ponomarenko_fb-93/try3.txt
  kutsovol_fb-93_ponomarenko_fb-93/v8.cpp
  kutsovol_fb-93_ponomarenko_fb-93/z_text/Durarara.txt
  kutsovol_fb-93_ponomarenko_fb-93/z_text/Grandmaster_of_demonic_cultivation.txt
  kutsovol_fb-93_ponomarenko_fb-93/z_text/Trash_of_count_family.txt
Labels: needs_cleanup

#31 zhembrovska_schreider_fd-93
  zhembrovska_schreider_fb-93/.gitignore
  zhembrovska_schreider_fb-93/README.md
  zhembrovska_schreider_fb-93/lexpar.py
  zhembrovska_schreider_fb-93/main.py
  zhembrovska_schreider_fb-93/table.py
  zhembrovska_schreider_fb-93/tree.py
Labels: readme_ok
